<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<![endif]-->
<!--[if !(IE 6) & !(IE 7) & !(IE 8)]><!-->
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<header th:replace="twentyeleven/header :: header">
    header
</header>

<body class="single single-post postid-12 single-format-image single-author singular two-column right-sidebar">
<div id="page" class="hfeed">

    <header th:replace="twentyeleven/header-brand :: branding">
        header
    </header>

    <div id="main">

        <div id="primary">
            <div id="content" role="main">

                <!--<?php if ( have_posts() ) : ?>-->

                <!--<?php twentyeleven_content_nav( 'nav-above' ); ?>-->

                <!--<?php /* Start the Loop */ ?>-->
                <!--<?php while ( have_posts() ) : the_post(); ?>-->

                <!--<?php get_template_part( 'content', get_post_format() ); ?>-->

                <!--<?php endwhile; ?>-->

                <!--<?php twentyeleven_content_nav( 'nav-below' ); ?>-->

                <!--<?php else : ?>-->

                <article id="post-0" class="post no-results not-found">
                    <header class="entry-header">
                        <h1 class="entry-title" th:text="'Nothing Found'">
                            <!--<?php _e( 'Nothing Found', 'twentyeleven' ); ?>-->
                        </h1>
                    </header><!-- .entry-header -->

                    <div class="entry-content"
                         th:text="'Apologies, but no results were found for the requested archive. Perhaps searching will help find a related post.'">
                        <!--<p><?php _e( 'Apologies, but no results were found for the requested archive. Perhaps searching will help find a related post.', 'twentyeleven' ); ?></p>-->
                        <!--<?php get_search_form(); ?>-->


                    </div><!-- .entry-content -->
                </article><!-- #post-0 -->

                <!--<?php endif; ?>-->

            </div><!-- #content -->
        </div><!-- #primary -->

        <!--<?php get_sidebar(); ?>-->
        <!--<?php get_footer(); ?>-->

    </div><!-- #main -->

    <footer th:replace="twentyeleven/footer :: colophon">
        footer
    </footer>
</div><!-- #page -->

<script type='text/javascript' src='http://localhost/wp-includes/js/comment-reply.min.js?ver=4.6-alpha-37416'></script>
<script type='text/javascript' src='http://localhost/wp-includes/js/wp-embed.min.js?ver=4.6-alpha-37416'></script>
</body>
</html>
