
<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) & !(IE 7) & !(IE 8)]><!-->
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<header th:replace="twentyeleven/header :: header">
    header
</header>


<body class="single single-post postid-23 single-format-standard single-author singular two-column right-sidebar">
<div id="page" class="hfeed">
    <header th:replace="twentyeleven/header-brand :: branding">
        header
    </header>


    <div id="main">

        <div id="primary">
            <!--/*@thymesVar id="post" type="com.dubu.wordpress.domain.WpPostsEntity"*/-->
            <div id="content" role="main" th:if="${post}">
                <nav id="nav-single">
                    <h3 class="assistive-text">Post navigation</h3>
                    <span class="nav-previous"><a href="http://localhost/?p=20" rel="prev"><span class="meta-nav">&larr;</span> Previous</a></span>
                    <span class="nav-next"></span>
                </nav><!-- #nav-single -->


                <th:block th:replace="twentyeleven/content-single :: content-single">
                    본문
                </th:block>

                <th:block th:replace="twentyeleven/comments :: comments">
                    댓글
                </th:block>

            </div><!-- #content -->
        </div><!-- #primary -->


    </div><!-- #main -->

    <footer id="colophon" role="contentinfo">



        <div id="site-generator">
            <a href="https://wordpress.org/" title="Semantic Personal Publishing Platform">Proudly powered by WordPress + Spring</a>
        </div>
    </footer><!-- #colophon -->
</div><!-- #page -->

<script type='text/javascript' src='http://localhost/wp-includes/js/comment-reply.min.js?ver=4.6-alpha-37531'></script>
<script type='text/javascript' src='http://localhost/wp-includes/js/wp-embed.min.js?ver=4.6-alpha-37531'></script>

</body>
</html>
